table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
      margin-top: 30px;
  }
  
  .filter {
      padding-left: 20px;
  }
  
  .add-btn {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }